
.footer-section {
    background: #1c1d1e;
    margin-top: 100px;
}

.subscribe-btn {
    position: relative;
}

.sub-input {
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 5px 10px;
}

.sub-btn {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(45deg, #cb6c0f, #c13a53c7);
    border-radius: 50px;
    padding: 5px 20px;
    color: white;
    border: none;

}

.footet-item li {
    color: lightslategray;

}

.footet-item li a{
transition: 0.5s;
}
.footet-item li a:hover{
    color: rgb(235, 13, 13)!important;
    font-size: 16px;
    margin-left: 10px;
    
}